@media (max-width: 1300px) {
    html {
        font-size: .7vw;
    }
}

@media (max-width: 1024px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 8px;
    }
}