.accordion-item {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 1.5rem;
}

.accordion-item:not(:last-child) {
    margin-bottom: 1rem;
}

.accordion-question {
    margin: 0;
    font-size: 2.4rem;
    position: relative;
    padding: 3rem 4rem 1.5rem 0;
    font-weight: 500;
    line-height: 130%;
    cursor: pointer;
    transition: all .25s ease-in-out;
    background: transparent;
    border: 0;
}

.accordion-question:before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 0;
    width: 2.4rem;
    height: .3rem;
    background-color: #000;
    border-radius: 2px;
    transform: translateY(-50%);
}

.accordion-question:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 1rem;
    width: .3rem;
    height: 2.4rem;
    background-color: #000;
    border-radius: 2px;
    transition: all .25s ease-in-out;
    transform: translateY(-50%);
}

.accordion-item.active .accordion-question:after {
    opacity: 0;
}

.accordion-answer {
    overflow: hidden;
    height: 0;
}

.accordion-text {
    overflow: hidden;
    margin: 0;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    line-height: 140%;
    color: #637381;
}

@media (max-width: 767px) {
    .accordion-item:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .accordion-question {
        font-size: 1.8rem;
        padding: 2rem 4rem 1rem 0;
    }

    .accordion-question:before {
        width: 2rem;
        height: 2px;
    }

    .accordion-question:after {
        right: .9rem;
        width: .2rem;
        height: 2rem;
    }

    .accordion-text {
        font-size: 1.6rem;
    }
}
