/* Testimonials Styles */
@use 'mixins' as mixins;

.testimonials {
  padding: 4rem 0;
  background-color: var(--color-white);
  overflow: hidden;

  &__inner {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__description {
    margin-bottom: 3rem;

    * {
      font-size: 1rem;
      line-height: 1.45;
      text-align: center;
      color: var(--color-text);
    }
  }

  &__slider {
    --card-w: 282px;
    --gap: 1.5rem;
    margin-left: -2rem;

    &.testimonials__slider_container {
      overflow: hidden;
    }

    @include mixins.media-breakpoint-down(576) {
      --gap: 1rem;
      margin-left: 0;
    }
  }

  .slick-list {
    overflow: hidden;
  }
  .slick-track {
    display: flex;
    align-items: stretch;
  }

  &__item {
    width: var(--card-w);
    box-sizing: border-box;
    margin: 0 calc(var(--gap) / 2);
    padding: 1rem 1.25rem;
    border: 2px solid;
    border-image: linear-gradient(to bottom, #DED8B9 0%, rgba(255,255,255,0) 100%) 1;

    &_content {
      display: flex;
      gap: 0.75rem;
    }

    &_user {
      display: flex;
      flex-direction: column;
    }

    &_title {
      font-size: 0.875rem;
      line-height: 1.6;
      color: var(--color-dark);
    }

    &_description {
      margin-top: 0.75rem;

      * {
        font-size: 0.875rem;
        line-height: 1.6;
        color: var(--color-dark);
        }
      }
    }

  &__image {
    border-radius: 50%;
  }

  &__rating {
    line-height: 0;
    display: flex;
    justify-content: space-between;
    width: 78px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8125rem;
    margin-top: 3rem;

    @include mixins.media-breakpoint-down(768) {
      margin-top: 2rem;
    }
  }

  &__nav-btn {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
  }
}
