/* Variables */

/* Breakpoints */
$breakpoints: (
  0: 0,
  576: 576px,
  768: 768px,
  992: 992px,
  1240: 1240px,
) !default;

:root {
  /* Example color variables */
  --color-dark: #1f1f1f;
  --color-text: #626262;
  --color-yellow: #d8b150;
  --color-white: #fff;
}

/* fonts:generated:start */
:root {
  --font-plus: 'plus', sans-serif;
  --font-urbanist: 'urbanist', sans-serif;
}
/* fonts:generated:end */
