.menu-toggle {
  display: block;
  background: none;
  cursor: pointer;
  z-index: 1001;
  position: relative;
  border: none !important;
  padding: 0 !important;
  transition: 0.3s;
}

.menu-toggle .hamburger-bar {
  display: block;
  width: 25px;
  height: 3px;
  background: #000;
  margin: 5px 0;
  transition: 0.3s;
}

.button.menu-toggle::before,
button.menu-toggle::after,
button.menu-toggle span::before,
button.menu-toggle::before {
  display: none;
}

.menu-toggle.active .hamburger-bar:nth-child(2) {
  transform: rotate(45deg) translate(6px, 6px);
}

.menu-toggle.active .hamburger-bar:nth-child(3) {
  opacity: 0;
}

.menu-toggle.active .hamburger-bar:nth-child(4) {
  transform: rotate(-45deg) translate(5px, -5px);
}